.vs-tooltip-progress-bar {
  position: relative;
  flex-grow: 1;
  height: 4px;
  /* margin: 0 10px; */
  border-radius: 10px;
  background-color: #ccc;
}

.vs-tooltip-progress-bar-circle {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #4c4c4c;
  border-radius: 50%;
  z-index: 3;
}

.vs-tooltip-progress-bar-circle2 {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #6786c3;
  border-radius: 50%;
  z-index: 3;
}
